<div class="lhc">
  <section>
    <h2>Latest articles</h2>
    <ul>
      <% @posts.each do |post| %>
        <li><a href="<%= post[:url] %>"><%= post[:title] %></a></li>
      <% end %>
    </ul>
  </section>

  <section>
    <h2>Popular articles</h2>
    <ul>
      <li><a href="http://blog.alexmaccaw.com/asynchronous-ui">Asynchronous UIs: the future of web user interfaces.</a></li>
      <li><a href="http://blog.alexmaccaw.com/css-transitions">All you need to know about CSS Transitions</a></li>
      <li><a href="http://blog.alexmaccaw.com/the-next-web">5 APIs that will transform the Web in 2013</a></li>
      <li><a href="http://blog.alexmaccaw.com/the-power-of-language">The Power of Language</a></li>
      <li><a href="http://blog.alexmaccaw.com/small">Small: the overview effect from Space</a></li>
    </ul>
  </section>

  <section>
    <h2>Travelling</h2>
    <ul>
      <li><a href="http://blog.alexmaccaw.com/traveling-writing-and-programming">Traveling, Writing and Programming</a></li>
      <li><a href="http://blog.alexmaccaw.com/how-to-travel-around-the-world-for-a-year">How to travel around the world for a year</a></li>
    </ul>
  </section>

  <section>
    <h2>I've worked for</h2>
    <ul>
      <li><a href="https://stripe.com">Stripe</a></li>
      <li><a href="https://twitter.com">Twitter</a></li>
      <li><a href="http://madebymany.com">Made by Many</a></li>
    </ul>
  </section>

  <section>
    <h2>Books I've written</h2>
    <ul>
      <li><a href="http://shop.oreilly.com/product/0636920018421.do">JavaScript Web Applications</a></li>
      <li><a href="http://shop.oreilly.com/product/0636920024309.do">The Little book CoffeeScript</a></li>
    </ul>
  </section>
</div>

<div class="rhc">
  <section>
    <h2>Stripe</h2>
    <ul>
      <li><a href="https://stripe.com/docs/checkout" title="Easily embed Stripe in your site">Stripe Checkout</a></li>
      <li><a href="https://github.com/stripe/PaymentKit" title="iOS payment form">Payment Kit</a></li>
      <li><a href="https://github.com/stripe/jquery.payment" title="jQuery extension for payments">jQuery.payment</a></li>
      <li><a href="https://github.com/stripe/poncho" title="A DSL for building REST APIs">Poncho</a></li>
      <li><a href="http://blog.alexmaccaw.com/stripe-push" title="An app for getting Stripe charge notifications">Stripe Push</a></li>
    </ul>
  </section>

  <section>
    <h2>Libraries &amp; Specs</h2>
    <ul>
      <li><a href="https://github.com/spine/spine" title="A JavaScript MVC framework">Spine</a></li>
      <li><a href="https://github.com/bower/bower" title="A JavaScript Package manager">Bower</a></li>
      <li><a href="https://blog.alexmaccaw.com/request-autocomplete" title="A spec for programatically requesting autocomplete data">requestAutocomplete</a></li>
      <li><a href="https://github.com/maccman/sprockets-commonjs" title="A CommonJS module extension to Sprockets">sprockets-commonjs</a></li>
      <li><a href="https://github.com/maccman/cft" title="A templating library that produces DocumentFragments">CFT</a></li>
      <li><a href="https://github.com/maccman/nestful" title="A Ruby HTTP library">Nestful</a></li>
      <li><a href="https://github.com/maccman/macgap" title="Build Mac applications with web technologies">Macgap</a></li>
      <li><a href="https://github.com/maccman/gfx" title="CSS Animations for jQuery">GFX</a></li>
      <li><a href="https://github.com/maccman/ace" title="A node fiber server">Ace</a></li>
      <li><a href="http://blog.alexmaccaw.com/canvas-color-picker">Canvas color picker</a></li>
      <li><a href="http://blog.alexmaccaw.com/killing-a-library" title="Stream updates to browsers">Juggernaut</a></li>
    </ul>
  </section>

  <section>
    <h2>Apps</h2>
    <ul>
      <li><a href="http://blog.alexmaccaw.com/stylo">Stylo</li>
      <li><a href="http://blog.alexmaccaw.com/abba">Abba</a></li>
      <li><a href="http://blog.alexmaccaw.com/go">Go</a></li>
      <li><a href="http://blog.alexmaccaw.com/open-source-all-the-things">Hermes</a></li>
    </ul>
  </section>
</div>