<div class="lhc">
  <section>
    <h2>Essays</h2>
    <ul>
      <% @posts.each do |post| %>
        <li>
          <a href="<%= post[:url] %>">
            <%= post[:title] %>

            <% if post == @posts.first %>
              - <span>new!</span>
            <% end %>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
</div>
