<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="JavaScript programmer, O'Reilly author, open source hacker">
  <meta name="author" content="Alex MacCaw">
  <meta name="viewport" content="width=device-width">

  <title>Alex MacCaw</title>

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="<%= asset_path 'layout.css' %>">
  <script type="text/javascript" src="//use.typekit.net/ioc7rle.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script>
    setTimeout(function(){
      var banner = document.body.querySelector('.banner');
      banner.classList.add('active');
    }, 300);
  </script>
</head>
<body>
<!--   <a href="mailto:alex+pitch@alexmaccaw.com" class="banner">
    I'm available for freelance work in February and March &mdash; send me an email.
  </a>
 -->
  <header class="header">
    <section>
      <img src="<%= asset_path 'crest@2x.png' %>">
      <h1>Alex MacCaw</h1>
      <h3>Frontend programmer, O'Reilly author</h3>

      <div class="media">
        <a href="https://twitter.com/maccaw" class="icon-twitter" title="My Twitter"></a>
        <a href="https://github.com/maccman" class="icon-github" title="My GitHub"></a>
        <a href="mailto:alex@alexmaccaw.com" class="icon-comments" title="Say hello"></a>
      </div>
    </section>
  </header>

  <article class="article">
    <%== yield %>
  </article>
</body>
</html>